/* @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #ecf7e1 !important;
}

.bg-nav {
    padding: 20px 0;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 5%);
    position: sticky;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.4);
}

.bg-nav a {
    text-decoration: none;
}

.sponsor {
    margin: auto 0;
    padding: 0;
}

.sponsor li {
    color: #222;
}

.logo {
    margin: auto 0;
}

.logo a li {
    color: #222;
    font-weight: 700;
    font-size: 20px;
    margin-left: 100px;
}

.link {
    display: flex;
    margin: auto 0;
}

.link a li {
    width: 120px;
    color: #222;
    font-weight: 400;
    position: relative;
}

.link a li:hover {
    color: #08c84f;
}

.link li.active::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 25%;
    background-color: #08c84f;
    left: 0;
    bottom: -2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    animation: appear 0.2s linear;
}


@keyframes appear {
    from {
        width: 0;
    }

    to {
        width: 25%;
    }
}

.loading-icon {
    width: 200px;
    height: 200px;
}

.loading-wait {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: -60px;
}

.loading-wait>img {
    width: 500px;
}

.loading {
    flex-wrap: wrap;
    display: flex;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    justify-content: center;
}

.banner {
    margin-top: 30px;
}

.pilihan {
    margin-top: 50px;
}

.pilihan a {
    text-decoration: none;
}

.pilihan h5 {
    font-weight: 600;
}

.pilihan h5::after {
    content: "";
    width: 7%;
    height: 2px;
    background-color: #08c84f;
    position: absolute;
    margin: 12px 0 0 30px;
}

.pilihan h4 {
    font-weight: 500;
}

.size {
    border: 1px solid rgb(184, 184, 184);
    padding: 10px;
    display: flex;
    border-radius: 30px;
    transition: 0.4s ease;
    cursor: pointer;
}

.size:hover {
    background-color: #ececec;
}

.size img {
    width: 20px;
    height: 20px;
    margin: auto;
}

.size h4 {
    margin: auto;
    font-size: 14px;
    margin-left: 5px;
    color: #222;
}

.scroll {
    margin: auto;
    display: block;
    text-align: center;
}

.scroll img {
    width: 50px;
    position: relative;
    animation: updown 3s linear infinite;
    animation-delay: 2s;
}

@keyframes updown {
    from {
        top: -20px;
    }

    to {
        top: 20px;
    }
}

.scroll h5 {
    margin-top: 20px;
    animation: fade 3s infinite linear;
    animation-delay: 2s;
}

@keyframes fade {
    0% {
        opacity: 0;
        transition: all ease;
    }
    100% {
        opacity: 1;
        transition: all ease;
    }
}


.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.float:hover {
    color: #FFF;
}

.my-float{
	margin-top:16px;
}

.penjelasan {
    background-color: #222;
}

.penjelasan h5{
    font-weight: 800;
    font-size: 32px;
    color: #25d366;
    margin-top: 40px;
}

.penjelasan p {
    color: #cacaca;
    font-weight: 300;
}

.product {
    margin-top: 80px;
}

.product h5 {
    text-align: center;
    font-weight: 800;
}

.product p {
    text-align: center;
    color: #505050;
    font-weight: 400;
}

.card-product {
    margin-top: 40px;
    width: 100%;
    height: 250px;
}

.card-product:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    transition: 0.5s ease all;
}
.card-product img {
    width: 200px;
    height: 150px;
    margin: auto;
    display: block;
    padding: 30px;
}

.card-product h4 {
    margin-top: 30px;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    color: #222;
}

.why {
    margin-top: 80px;
}

.why h5 {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 600;
    color: #222;
}

.why-pict {
    width: 435px;
    margin: auto;
    display: block;
    background-image: none;
}

.row-why {
    margin-top: 20px;
}

.mnft {
    font-size: 20px;
    margin-top: 40px;
}

.ceklis{
    width: 25px !important;
    margin-top: -5px;
}

#text-meme{
    font-size: 16px;
    font-weight: 300;
    margin-left: 20px;
}

.hr-om {
    border: 1px solid rgb(126, 126, 126);

    justify-content: center;
    margin: auto;

    width: 100%;
    height: 0px;
    left: 0px;
    top: 0px;
}

.hr-om1 {
    border: 1px solid rgb(255, 255, 255);

    justify-content: center;
    margin: auto;

    width: 100%;
    height: 0px;
    left: 0px;
    top: 0px;
}

#shape {
    /* background-color: #222; */
    border: 2px solid #08c84f;
    border-radius: 50%;
    padding: 10px;
}

.story {
    background-color: #222;
    margin-top: 100px;
}

.story h5 {
    color: #FFF;
    font-weight: 600;
    font-size: 36px;
    margin-top: 30px;
}

.story p {
    color: #c7c7c7;
    margin-top: 30px;
    margin-bottom: 40px;
}

.story a {
    background-color: #08c84f;
    color: #222;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 20px;
    font-weight: 600;
}

.story a:hover {
    color: #222;
}

.story img {
    width: 100%;    
}

.latar {
    margin-top: 100px;
}

.latar h5 {
    font-size: 24px;
    font-weight: 600;
}

.latar p {
    color: #505050;
    margin-top: 20px;
    font-weight: 300;
}

.bg-green {
    background: rgb(34,34,34);
    background: linear-gradient(315deg, rgba(34,34,34,1) 0%, rgba(8,200,79,1) 100%);
    margin-top: 50px;
    }

.contact h5 {
    color: #FFF;
    font-size: 36px;
    font-weight: 800;
}

.contact p {
    color: #ecf7e1;
    font-weight: 300;
}

.contact input {
    margin-top: 30px;
    width: 400px;
}

.btn-contact {
    margin-top: 30px;
    background-color: #08c84f;
    padding: 10px 20px;
    margin-left: 20px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

.btn-contact:hover {
    color: #ecf7e1;
}

.footer h5 {
    color: #fff;
    font-weight: 600;
    font-size: 24px;
}

.footer h3 {
    font-size: 20px;
    margin-top: 20px;
    color: #FFF;
    font-weight: 700;
}

.footer li {
    color: #FFF;
    text-decoration: none;
    font-weight: 300;
}

.footer h4 {
    color: #FFF;
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
}

.footer a {
    text-decoration: none;
}

.footer ul a li:hover{
    color: #cacaca;
}